body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}



.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: azure;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;

}

#full-stack-developer {
    border-left: 10px solid tomato;
}

#baby-web-developer {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}